/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* headers h1-6 */
h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
  color: #5f5e5e;
}

h3 {
  font-size: 30px;
}

h4 {
  color: #5c5c5c;
  font-size: 22px;
}

/* General Body Styling */
body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
}

html {
  scroll-behavior: smooth;
}

/* ------------------------------- Header and Navbar Section -------------------- */
#header {
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  background-color: white;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav p {
  color: black;
  font-size: 34px;
}

/* Navbar links */
#navbar {
  list-style-type: none;
  display: flex;
}

#navbar li {
  margin-left: 20px;
}

#navbar li a {
  color: black;
  text-decoration: none;
  font-size: 24px;
  padding: 10px;
}

#navbar li a:hover {
  color: #6b6b6b;
  text-decoration: underline;
  text-underline-offset: 0.6rem;
  transition: color 0.5s ease, text-decoration 0.5s ease;
}

.hamburger {
  display: none;
}

body {
  padding-top: 60px;
}

/* ------------------------------- Home Section -------------------- */

#home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10%;
  padding: 80px 20px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile img {
  width: 400px;
  height: 400px;
  margin-right: 150px;
  margin-top: 50px;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.profile img:hover {
  transform: scale(1.06);
  cursor: pointer;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center; /*?*/
  align-items: center;
  padding-top: 10%;
}

/* Profile Info Icons */

.icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 5%;
}

.icons a {
  display: inline-block;
  width: fit-content;
  height: fit-content;
  text-align: center;
}

/* Style the image */
.icons img {
  width: 34px;
  height: auto;
  display: block;
  transition: transform 0.3s ease;
  margin-top: 0;
  margin-right: 0;
}

.icons a:hover img {
  transform: scale(1.1);
}

.profile-info .profile-btns {
  display: flex;
  gap: 10px;
  margin-top: 17px;
}

#cv-btn,
#contact-btn {
  border-radius: 40px;
  padding: 10px 20px;
  width: 9rem;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#cv-btn {
  border: 2px solid #5f5e5e;
  background-color: white;
  color: #2e2e2e;
}

#contact-btn {
  border: 2px solid #030303;
  background-color: #141414;
  color: #e2e2e2;
}

#cv-btn:hover {
  cursor: pointer;
  background-color: #777777;
}

#contact-btn:hover {
  background-color: #777777;
  color: #000000;
}

/* ------------------------------- About Section -------------------- */

#about {
  padding: 80px 20px;
  background-color: #f7f7f7;
}

.sec-header {
  margin-bottom: 20px;
  font-size: 36px;
  color: #333;
  margin-left: 20px;
}

.section-info {
  /*global*/
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

.about-summary p {
  font-size: 22px;
  line-height: 1.6;
  color: #4d4d4d;
  padding-left: 20px;
  padding-bottom: 7%;
}

.skills {
  padding-left: 20px;
}

.skills h2 {
  padding: 20px 0px;
  color: #333;
}

.my-skills {
  display: flex;
  gap: 50px;
  padding: 10px 0px;
}

.skill-item {
  text-align: center;
}

.skill-item:hover,
.skill-item:hover img {
  transform: scale(1.1);
  transition: filter 0.1s ease;
}

.skill-item p {
  padding: 5px 0;
}

.skill-item img {
  width: 40px;
  height: auto;
  transition: opacity 0.1s ease;
}

/* ------------------------------- Projects Section -------------------- */

#projects {
  padding: 80px 20px;
}
.projects-group {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.proj-item {
  display: flex;
  border: 2px solid #000000;
  border-radius: 30px;
  gap: 50px;
  padding: 35px 35px;
}

.proj-item iframe {
  border: 1px solid #757575;
  border-radius: 10px;
  width: 300px;
  height: 170px;
}

.proj-item img {
  border: 1px solid #757575;
  border-radius: 10px;
  width: 80%;
  height: auto;
}

.proj-itself {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.proj-itself .web {
  line-height: 1;
}

.skills-used ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  list-style-type: none;
  max-width: 300px;
  margin: 0 auto;
}

.skills-used li {
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.proj-summary {
  background-color: #f9f9f9;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.proj-summary h4 {
  margin-bottom: 10px;
}

.proj-summary p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.proj-btns {
  padding: 20px;
  text-align: center;
}

.proj-summary button {
  background-color: rgb(231, 231, 231);
  border: none;
  border-radius: 35px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-right: 20px;
}

.proj-summary button:hover {
  background-color: #181818;
  color: rgb(233, 233, 233);
}

.proj-summary a {
  text-decoration: none;
}

/* ------------------------------- Contact Section -------------------- */

#contact {
  padding: 80px 20px;
  background-color: #f7f7f7;
}

#contact-msg {
  font-size: 18px;
  color: #555;
  margin-bottom: 30px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#contact-form input,
#contact-form textarea {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 20px;
  transition: border 0.3s;
  font-family: inherit;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

textarea {
  height: 120px;
  max-height: 300px;
  resize: vertical;
}

#contact-form input:focus,
#contact-form textarea:focus {
  border-color: #397456;
  outline: none;
}

#contact-form button {
  padding: 10px;
  border: 2px solid;
  border-radius: 20px;
  font-size: 20px;
  color: white;
  background-color: #797979;
  cursor: pointer;
}

#contact-form button:hover {
  background-color: #397456;
}

footer {
  background-color: #eeeeee;
  padding: 20px;
  text-align: center;
}
